    .clearfix::after{
    content: '';
    display: block;
    clear: both;
    }
* {
  margin: 0px;
  padding: 0px;}


    .yin-yang {
      width: 192px;
      box-sizing: content-box;
      height: 92px;
      background: #eee;
      border-color: black;
      border-style: solid;
      border-width: 2px 2px 92px 2px;
      border-radius: 100%;
      position: relative;
      animation: turn 1.5s linear infinite;
      float: left;
    }
    .yin-yang:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      background: #eee;
      border: 36px solid black;
      border-radius: 100%;
      width: 24px;
      height: 24px;
      box-sizing: content-box;
    }
    .yin-yang:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      background:black;
      border: 36px solid #eee;
      border-radius: 100%;
      width: 24px;
      height: 24px;
      box-sizing: content-box;
    }

    @keyframes turn{
      0%{transform:rotate(0deg);}
      100%{transform:rotate(360deg);}
    }

    h1{
      writing-mode: vertical-lr;
      float: left;
      margin: 28px 0;
    }

    .taiji{
      height:100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }



      
